* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgb(169, 169, 218);
}
.container .contact-box {
  width: 80%;
  height: 50%;
  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  overflow: hidden;
}
.container .contact-box .img-box {
  width: 60%;
  height: 100%;
  margin-top: 40px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
.contact-box .img-box img {
  width: 100%;
  height: 100%;
}
.contact-box .form-box {
  height: 100%;
  width: 40%;
  margin: 20px 20px 20px 0;
  padding: 20px;
}
.form-box h2 {
  display: inline-block;
  color: rgb(122, 122, 215);
  font-weight: 700;
  font-size: 1.1rem;
}
.form-box .input-box {
  width: 100%;
  position: relative;
  height: 40px;
  margin: 5px 0;
}
.input-box input {
  position: absolute;
  width: 100%;
  height: 30px;
  background: rgba(169, 169, 218, 0.53);
  border: 2px solid transparent;
  border-radius: 5px;
  padding-left: 10px;
  outline: none;
  transition: 0.3s ease;
  margin: 5px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  font-weight: 1.1rem;
  color: rgb(118, 113, 113);
  pointer-events: none;
  transition: 0.3s ease;
}
.form-box .input-box input:focus,
.form-box .input-box input:valid {
  background: white;
  border-color: rgb(122, 122, 215);
}

.form-box .input-box input:focus ~ label,
.form-box .input-box input:valid ~ label {
  top: 5px;
  background: white;
  color: rgb(122, 122, 215);
  font-size: 0.7rem;
}

.form-box .mess-box {
  width: 100%;
  height: 70px;
  position: relative;
}
.form-box .mess-box textarea {
  width: 100%;
  height: 100%;
  resize: none;
  outline: none;
  background: rgba(169, 169, 218, 0.53);
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.9rem;
}
.form-box .mess-box label {
  position: absolute;
  top: 5px;
  left: 10px;
  font-weight: 1.1rem;
  color: rgb(118, 113, 113);
  pointer-events: none;
  transition: 0.3s ease;
  font-size: 0.9rem;
}
.form-box .mess-box textarea:focus,
.form-box .mess-box textarea:valid {
  background: white;
  border-color: rgb(122, 122, 215);
}

.form-box .mess-box textarea:focus ~ label,
.form-box .mess-box textarea:valid ~ label {
  top: -6px;
  background: white;
  color: rgb(122, 122, 215);
  font-size: 0.7rem;
}
.form-box .input-box input[type="Submit"] {
  background: rgb(123, 117, 227);
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
}
.form-box .input-box input[type="Submit"]:hover {
  background: transparent;
  border: 2px solid rgb(123, 117, 227);
  color: rgb(123, 117, 227);
  font-weight: 700;
}
.form-box .input-box input[type="Submit"]:active {
  background: rgb(36, 31, 133);
  border: 2px solid rgb(123, 117, 227);
  color: rgb(239, 239, 239);
  font-weight: 700;
}
@media (max-width: 700px) {
  .container .contact-box {
    position: relative;
  }
  .container .contact-box .img-box {
    position: absolute;
    width: 100%;
    opacity: 0.2;
  }
  .contact-box .form-box {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .contact-box .form-box {
    width: 60%;
  }
  .container .contact-box .img-box {
    width: 40%;
  }
}
